name: cli-live.yml
on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  cli-live:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, macos-13, windows-latest ]
    steps:
      - uses: actions/checkout@v4
      - uses: TarasMazepa/github-action-cat@master
        id: get-dart-version
        with:
          path: DART_SDK_VERSION
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ steps.get-dart-version.outputs.text }}
      - run: dart pub get
        working-directory: cli
      - run: ./stax help
      - run: ./stax doctor
      - run: |
          mkdir repo
          cd repo
          git config --global user.name 'stax'
          git config --global user.email 'stax@staxforgit.com'
          git init -b main
          touch README.md
          git add .
          git commit -m "Initial commit"
          git checkout -b second
          touch LICENSE.md
          git add .
          git commit -m "Second commit"
          ../stax rebase main
