name: dart-format.yml
on:
  workflow_dispatch:

jobs:
  dart-format:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: TarasMazepa/github-action-cat@master
        id: get-dart-version
        with:
          path: DART_SDK_VERSION
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ steps.get-dart-version.outputs.text }}
      - run: dart format .
        working-directory: cli
      - run: dart format .
        working-directory: ui
      - run: |
          if ! git diff --quiet; then
            timestamp=$(date -u +"%Y-%m-%dT%H-%M-%S")
            branch_name=${GITHUB_REF#refs/heads/}-formatted-$timestamp
            git config --global user.name 'stax'
            git config --global user.email 'stax@staxforgit.com'
            git checkout -b $branch_name
            git commit -a -m "${GITHUB_REF#refs/heads/} branch dart code formatted at $timestamp"
            git push --set-upstream origin $branch_name
            gh pr merge $(gh pr create -B ${GITHUB_REF#refs/heads/} -f) --auto --squash
          fi
        env:
          GH_TOKEN: ${{ secrets.PAT }} 
