on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  dart-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, macos-13, windows-latest]

    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1
      - run: dart pub get
        working-directory: cli
      - run: dart test
        working-directory: cli
      - run: dart analyze
        working-directory: cli
