on:
  release:
    types:
      - created

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release:
    permissions: write-all
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, macos-13, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}
      - run: dart pub get
        working-directory: cli
      - run: dart compile exe bin/cli.dart -o bin/stax
        working-directory: cli
      - run: tar -czvf ${{ matrix.os }}_.tar.gz bin/stax
        working-directory: cli
      - run: gh release upload ${{ github.event.release.tag_name }} ${{ matrix.os }}_.tar.gz
        working-directory: cli
