on:
  workflow_dispatch:
  schedule:
    - cron: "17 6 * * *"

jobs:
  update-dart-sdk-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Homebrew/actions/setup-homebrew@master
      - run: |
          new_dart_sdk_version="$(brew info dart-lang/dart/dart --json | jq -r '.[0].versions.stable')"
          echo $new_dart_sdk_version > DART_SDK_VERSION
          if ! git diff --quiet; then
            branch_name=update-dart-sdk-version-$new_dart_sdk_version-$RANDOM
            git config --global user.name 'stax'
            git config --global user.email 'stax@staxforgit.com'
            git checkout -b $branch_name
            git commit -a -m "Update dart sdk version to $new_dart_sdk_version"
            git push --set-upstream origin $branch_name
            gh pr merge $(gh pr create -B main -f) --auto --squash
          fi
        env:
          GH_TOKEN: ${{ secrets.PAT }}
